@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #000;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #C0FF00;
  }
  
  .blend-difference { mix-blend-mode: difference; }
  .blend-multiply { mix-blend-mode: multiply; }
  
  .grid-blueprint {
    background-image: 
        linear-gradient(to right, #1A1A1A 1px, transparent 1px),
        linear-gradient(to bottom, #1A1A1A 1px, transparent 1px);
    background-size: 40px 40px;
  }

  .grid-line-overlay {
    background-image: linear-gradient(to right, #1A1A1A 1px, transparent 1px),
                      linear-gradient(to bottom, #1A1A1A 1px, transparent 1px);
    background-size: 80px 80px;
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
